%tr{ :style => ("border-top: 1px solid #e0e0e0" unless task.parent_id?) }
  %td{ :class => ('pl-6' unless !task.sub_task?) }
    %span.pr-2{:class => "#{task.cssStyle}"}
      #{ task.symbol }
    - if task.done?
      %s.text-muted #{ task.description }
    - else
      #{ task.description }
  %td #{ l task.due_date }
  %td.has-text-right.pr-0
    - if task.parent?
      = link_to '+ Sub-tarefa', new_task_path(parent_id: task.id), class: 'button is-success is-small'
    = link_to 'Editar', edit_task_path(task), class: 'button is-dark is-small'
    = link_to 'Apagar', task, method: :delete, class: 'button is-danger is-small', data: { confirm: 'Você tem certeza?' }
