!!! 5
%html
  %head
    %title Gerenciador de Tarefas
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', { :media => 'all', :data => {:turbolinks => {:track => 'reload'}} }
    = javascript_pack_tag 'application', { :data => {:turbolinks => {:track => 'reload'}}}

  %body
    .hero.is-fullheight.bg
      .hero-body
        .container.is-centered
          .columns.is-centered{:style => 'opacity: 0.9'}
            .column.is-11
              .card
                .card-content
                  .content
                    -if notice.present?
                      .notification.is-success
                        .delete
                        = notice
                    -if alert.present?
                      .notification.is-danger
                        .delete
                        = alert

                    = yield
