!!! 5
%html
  %head
    %title Base Config
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', { :media => 'all', :data => {:turbolinks => {:track => 'reload'}} }
    = javascript_pack_tag 'application', { :data => {:turbolinks => {:track => 'reload'}}}

  %body
    .hero.is-fullheight.bg
      .hero-body
        .container.is-centered
          .columns.is-centered{:style => 'opacity: 0.85'}
            .column.is-11
              .card
                .card-content
                  .content
                    = yield


    -# a- flash.each do |type, message|
      .notification.is-#{type == 'alert' ? 'danger' : 'success'}
        .delete
        = message
